@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito');

.number-text {
    font-family: "Fira Mono", monospace;
}

body {
    font-family: Nunito;
    font-size: 12px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.logo {
    height: 1in;
    float: right;
}

.mb-2 {
    margin-bottom: 1rem;
}

.text-red {
    color: red;
}

.signature {
    border-bottom: 3px solid #000;
    width: 8cm;
    height: 1.1cm;
    margin-bottom: 0.2in;
}

.org-detail {
    @extend .text-right;
}

.d-flex {
    display: flex;

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-end {
        justify-content: flex-end;
    }
}

@media print {
    .utility {
        display: none;
    }
}


div.paper {
    background: white;
    display: block;
    margin: 0.5cm auto;

    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

    &.a4 {
        width: 21cm;
        height: 29.7cm;
    }

    &.letter {
        width: 8.5in;
        height: 11in;
    }

    @media print {
        padding: 0 !important;
        box-shadow: unset;
        width: 100%;
        margin: 0 !important;
    }


    .receipt {
        height: 50%;
        font-size: 14px;
        padding: .1rem .5rem;

        &.first {
            border-bottom: 1px dashed #000;
        }

        .el-form-item__error {
            z-index: 2000;
        }
    }
}
